.App {
  text-align: center;
  background-color: #A6B3B4;
}

.banner {
  width: 100%;
}

.button-perfil {
  text-align: right;
  padding-right: 30px;
  padding-bottom: 10px;
}

.button-nova-atracao {
  text-align: right;
  padding-right: 30px;
}

.MuiCardActions-root.MuiCardActions-spacing {
  float: right;
}

.form-nova-atracao-title {
  color: #044004;
  text-align: left;
  padding-left: 10%;
  padding-bottom: 15px;
}

.form-nova-atracao {
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 10%;
}

.form-novo-usuario-title {
  color: #044004;
  text-align: left;
  padding-left: 10%;
  padding-bottom: 15px;
}

.form-visualizar-usuario-title {
  color: #044004;
  text-align: left;
  padding-left: 10%;
  padding-bottom: 15px;
}

.recomendacoes-title {
  color: #044004;
  text-align: left;
  padding-left: 10%;
  padding-bottom: 15px;
}

.form-novo-usuario, .form-nova-recomendacao {
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 10%;
}

.form-visualizar-usuario {
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
}

.visualizar-atracao-card {
  padding-left: 80px;
  padding-bottom: 30px;
}

.visualizar-atracao-conteudo {
  text-align: left;
}

.MuiList-root.MuiList-padding.recomendacao-lista {
  padding-left: 10%;
  padding-bottom: 10%;
}
